name: Linters
on: 
   workflow_call:
    inputs:
      compare-branch:
        required: true
        type: string
      python-ver:
        required: false
        type: string
        default: '3.13'
      requirements-path:
        required: false
        type: string
      runs-on:
        required: false
        type: string
        default: ubuntu-latest
      clone-submodule:
        required: false
        type: string
        default: recursive
env:
    python-version: ${{ inputs.python-ver }}
jobs:
  ruff:
     runs-on: ${{inputs.runs-on}}
     env: 
      CONFIG: .ibex-shared-workflows/ruff.toml
     steps:
      - uses: actions/setup-python@v6
        with:
           python-version: ${{ env.python-version }}      
      - run: pip install ruff
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          #submodules: recursive
          submodules: ${{ inputs.clone-submodule }}
      - name: Use default config
        uses: actions/checkout@v6
        if: ${{ hashFiles('ruff.toml') == ''}}
        with:
          repository: ISISComputingGroup/reusable-workflows
          path: .ibex-shared-workflows
      # If a local config exists set the config to be the environment variable so it is properly used.
      - name: Use local config.
        if:  ${{ hashFiles('ruff.toml') != ''}}
        run: |
          echo "CONFIG=ruff.toml" >> $GITHUB_ENV
      - name: Changed Files
        run: git diff ${{ inputs.compare-branch }}..HEAD --name-only --diff-filter=ACM -z "*.py" | xargs -0 --no-run-if-empty echo
      - name: Run Ruff Check on Changed Files
        run: git diff ${{ inputs.compare-branch }}..HEAD --name-only --diff-filter=ACM -z "*.py" | xargs -0 --no-run-if-empty ruff check --config ${{ env.CONFIG }} --output-format=github
      - name: Run Ruff Format Check on Changed Files 
        if: success() || failure()  # Run the format check even if the previous check fails (but not always, as should not run on a failed build.)
        run: git diff ${{ inputs.compare-branch }}..HEAD --name-only --diff-filter=ACM -z "*.py" | xargs -0 --no-run-if-empty ruff format --check --config ${{ env.CONFIG }}
  pyright:
    runs-on: ${{inputs.runs-on}}
    steps:
      - uses: actions/setup-python@v6
        with:
           python-version: ${{ env.python-version }}
      - run: pip install unittest-xml-reporting
      - uses: actions/checkout@v6
        with:
           fetch-depth: 0
           submodules: recursive
      - name: install pyright
        run: pip install pyright
      - name: install diff_cover
        run: pip install diff_cover
      - name: install pyright_plugin
        run: pip install git+https://github.com/DiamondLightSource/pyright_diff_quality_plugin.git
      - name: install project dependencies (pyproject.toml)
        run: pip install .[dev]
        if: ${{ hashFiles('pyproject.toml') != ''}}
      - name: install project dependencies (requirements.txt + constraints.txt)
        run: pip install -r requirements.txt --constraint constraints.txt --build-constraint constraints.txt
        if: ${{ hashFiles('requirements.txt') != '' && hashFiles('constraints.txt') != '' }}
      - name: install project dependencies (requirements.txt)
        run: pip install -r requirements.txt
        if: ${{ hashFiles('requirements.txt') != '' && hashFiles('constraints.txt') == ''}}
      - name: install project dependencies (explicit path)
        run: pip install -r ${{ inputs.requirements-path }}
        if: ${{ inputs.requirements-path != ''}}
      - name: Run Pyright on changes
        run: diff-quality --violations=pyright --fail-under=100 --compare-branch ${{ inputs.compare-branch }}
  code-ql:
    runs-on: ${{inputs.runs-on}}
    timeout-minutes: 120
    permissions:
      security-events: write
    steps:
      - uses: actions/setup-python@v6
        with:
           python-version: ${{ env.python-version }}
      - uses: actions/checkout@v6
      - uses: github/codeql-action/init@v4
        with:
          languages: python
          build-mode: none
          queries: +security-and-quality
      - uses: github/codeql-action/analyze@v4
        with:
          category: "/language:python"
